* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  /* color: rgb(#B2B1AE);  hover olunca bu renk oluyor */
  color: rgb(43, 43, 43);
  font-size: smaller;
}

a {
  transition: all 0.9s ease;
  text-decoration: none;
  color: rgb(43, 43, 43);
}
a:hover {
  color: #5022c3;
}
li {
  list-style: none;
}
.navbar-top {
  border-bottom: 0.5px solid rgb(197, 196, 196);
}
.search-bar {
  position: relative;
  flex-grow: 1;
}

.search-bar input {
  padding: 10px 30px;
  width: auto;
  border-radius: 20px;
  border: 1px solid;
  padding-left: 50px;
  border-color: rgb(38, 26, 26);
  background-color: rgba(171, 169, 169, 0.1);
  flex-grow: 1;
}
.search-bar img {
  height: 24px;
  width: 24;
  position: absolute;
  left: 10px;
}
.navbar-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 10px;
  padding-left: 10px;

  justify-items: center;
}
.navbar-top > div,
.navbar-top > a,
.navbar-top > img {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.navbar-icon-list img {
  height: 20px;
  margin-right: 20px;
  width: 20px;
}
.navbar-icon-list .icon-notification {
  position: relative;
}
.navbar-icon-list .purple-dot {
  position: absolute;
  left: 18px;
  bottom: 18px;
  width: 10px;
  height: 10px;
}
#profile-icon {
  width: 32px !important;
  height: 32px !important;
}

#udemy-logo {
  height: 80px;
  width: 110px;
}
.navbar-bottom {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-bottom-items {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}

.navbar-bottom-items div {
  text-align: center;
  margin: 0 20px;
}
.navbar-bottom-items a {
  display: inline-block;
  padding: 10px;
}
.dropdown:hover .dropdown-menu {
  display: flex;
  background-color: rgb(143, 135, 135);
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  margin-right: 50px;
  border-radius: 0%;
}

.body-container {
  margin: 30px 90px;
}
.welcome-user-area {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-bottom: 30px;
}
.welcome-user-area #user-profile-image img {
  height: 64px;
  width: 64px;
}
.welcome-user-area .welcome-text {
  margin-left: 30px;
}
.welcome-user-area .welcome-text h3 {
  font-weight: bold;
  font-size: 25px;
}
.welcome-user-area .welcome-text a {
  text-decoration: underline;
  color: #5022c3;
  font-weight: bold;
}

.carousel-relative {
  position: relative;
  display: flex;
  flex-direction: row;
}
.carousel-parag-item {
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  width: 400px; /* veya belirli bir genişlik, örneğin 400px */
  word-wrap: break-word;
  padding: 10px 10px;
  position: absolute;
  left: 150px;
  top: 100px;
}
.carousel-parag-item h4,
span {
  font-weight: bold;
}
.carousel-parag-item p {
  font-size: medium;
  color: black;
}

.carousel-icon {
  width: 40px;
  height: 40px;
}

.first-course-slider-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
#slider-content-right {
  text-decoration: underline;
  color: #5022c3;
  font-weight: bold;
  font-size: medium;
}
.card {
  margin-right: 50px;
}
.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.card-title:hover {
  white-space: normal;
  overflow: visible;
  padding: 5px;
}
.col-md-4 img {
  height: 100%;
  object-fit: cover;
}
.carousel-course-slider {
  margin-left: 50px;
}

.banner-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.btn-banner .btn {
  border-radius: 0;
}

.course-header-first {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}
.course-header-second {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}
.course-header-second a {
  text-decoration: underline;
  color: #5022c3;
}

.footer-container {
  color: white;
}

.footer-container ul li a {
  color: white !important;
}
.first-of-footer-second {
  padding-bottom: 50px;
  border-bottom: 0.1px solid white;
}

.footer-logo {
  height: 36px;
  width: 91px;
}

.row-second-footer {
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
